body {
    font-family: sans-serif;
    background-color: white;
  }
  #button{
    width: 100px;
    height: 20px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 2px;
    background-color: white;
  }
  #circle{
    border: 1px solid black;
    width:20%;
    height:95%;
    border-radius: 100%;
    background-color: black;
  }
  /* #textbox{
    width: 400px;
    height: 50px;
    margin: auto;
  }
  #text{
    margin-left: 110px;
    font-size: 1.2rem;
  } */